#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 5%;
  min-height: 100vh;
}

canvas {
  width: 200px !important;
}

.Typist {
  color: var(--lightest-slate);
  text-align: center;
  font-size: 76px;
  margin-top: -30px;
}
.Typist .Cursor--blinking {
  color: var(--aqua);
  padding-left: 4px;
}

.intro-title {
  font-family: "NTR", sans-serif;
  font-size: 86px;
}
.intro-name {
  font-family: "NTR", sans-serif;
  color: var(--aqua);
  font-weight: bold;
  font-size: 86px;
}

.intro-subtitle {
    margin-top: -36px;
    font-family: "NTR", sans-serif;
    color: var(--lightest-slate);
    font-weight: 300;
    font-size: 55px;
}

.intro-desc {
    color: var(--lightest-slate);
    font-family: "NTR", sans-serif;
    font-size: 20px;
    max-width: 55%;
    padding-bottom: 50px;
}

.intro-contact {
    font-size: 22px;
    font-family: "NTR", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #ffc0cb;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 400ms;
}

.intro-contact:hover {
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    border: 2px solid var(--lightest-slate);
    transform: translateY(10px) !important;
}

b {
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  #gazi-model {
    display: none;
  }

  #intro {
    min-height: unset;
    padding-left: unset;
    margin: 0;
    align-items: center;
  }

  .intro-title {
    font-size: 46px;
  }
  .intro-name {
    font-size: 46px;
  }

  .Typist {
    font-size: 36px;
  }

  .intro-subtitle {
    margin: 0;
    font-size: 28px;
    text-align: center;
  }

  .intro-desc {
    font-size: 18px;
    text-align: center;
    max-width: unset;
    padding-bottom: 40px;
  }

  .intro-contact {
    font-size: 16px;
    align-self: center;
    margin-left: 30%;
  }
}
